{{ define "sdp-component" }}
<div id="sdp-component">
    <label for="ice-server-url">ICE Server URL</label><br>
    <input type="text" id="ice-server-url" value="{{ .ICEServerURL }}"><br>
    <br>
    <label for="offer-sdp">Oneshot Session Offer</label><br>
    <textarea id="offer-sdp" rows="10" cols="50"></textarea><br>
    <br>
    <button type="button" id="connect-button">Generate Answer & Copy to Clipboard</button><br>
    <div id="answer-container">
        <span id="answer-span"></span>
    </div>
</div>
{{ end }}

{{/*
{
    AutoConnect bool
    SessionToken string
    BasicAuthToken string
    ClientJS string
}
*/}}
{{ define "index" }}
<!DOCTYPE html>
<html>
<head>
    <script>window.basicAuthToken = "{{ .BasicAuthToken }}"</script>
    {{ if .AutoConnect }}<script>
        window.sessionToken = "{{ .SessionToken }}";
    </script>{{ end }}
</head>
<body>
{{ if not .AutoConnect }}{{ template "sdp-component" . }}{{ end }}
<footer>
    {{ .ClientJS }}
</footer>
</body>
</html>
{{ end }}

{{ template "index" . }}