{{ define "auto-answer" }}
    <script>
        // dont waste your one shot to broken prefetching bs
        if (document.visibilityState !== "visible") {
            throw new Error("Page is not visible");
        }

        var tries = 0;
        function checkWebRTCClient() {
            if (!window.WebRTCClient) {
                tries++;
                if (tries < 5) {
                // Retry in 100ms
                setTimeout(checkWebRTCClient, 100);
                } else {
                // Tried 5 times, throw an error
                throw new Error("window.WebRTCClient does not exist");
                }
            }
        }
        checkWebRTCClient();

        function getCookieValue(name) {
            return document.cookie.match('(^|;)\\s*' + name + '\\s*=\\s*([^;]+)')?.pop() || '';
        }

        const sessionToken = getCookieValue("session_token");
        document.cookie = "";
        const endpoint = window.location.href;

        fetch(endpoint, {
            method: "GET",
            headers: {
                "Accept": "application/json",
                "X-Session-Token": sessionToken,
            }
        }).then(response => {
            if (response.status !== 200) {
                throw new Error("Failed to get offer");
            }
            return response.json();
        }).then(data => {
            console.log("response data: ", data);
            const client = new WebRTCClient(data.RTCConfiguration);
            const { Answer, ConnectionEstablished } = client.answerOffer(data.RTCSessionDescription);
            ConnectionEstablished.then(() => {
                console.log("Connection established");
                client.visit('/');
            }).catch((err) => {
                console.error(err);
            });
            Answer.then((answer) => {
                fetch(endpoint, {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json',
                        'Accept': 'application/json',
                    },
                    body: JSON.stringify({
                        "SessionID": data.SessionID,
                        "Answer": answer.sdp,
                    }),
                }).then((response) => {
                    if (response.status !== 200) {
                        throw new Error("Failed to send answer");
                    }
                }).catch((err) => {
                    console.error(err);
                    alert(err);
                });
            });
        }).catch((err) => {
            console.error(err);
            alert(err);
        });
    </script>
{{ end }}