{{/*
{
    AutoConnect bool
    ClientJS template.HTML
    PolyfillJS template.HTML

    RTCConfigJSON string
    OfferJSON string
    Endpoint string
    BasicAuthToken string // optional
    SessionToken string // optional

    Head template.HTML
}
*/}}
{{- define "index" -}}
<!DOCTYPE html>
<html>
<head>
{{ indent 4 .Head -}}
    <script>
        {{ .PolyfillJS }}
    </script>
    <script>
        {{ .ClientJS }}
    </script>
</head>
<body>
{{- if .AutoConnect -}}
    {{- template "auto-answer" . -}}
{{- else -}}
    {{- template "manual-answer" . -}}
{{- end -}}
</body>
</html>
{{- end -}}

{{- template "index" . -}}